{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "printWidth": 100,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "useTabs": false
}
